<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      CHAT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <ion-list>
    <ion-item *ngFor ="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2> <b>{{chat.name}}</b> </h2>
        <p>{{chat.description}}</p>
      </ion-label>
    </ion-item>
  
</ion-list>

  <ion-button (click)="Onlogout()" >desconectarse</ion-button> 
</ion-content>
