<ion-header>
  <ion-toolbar color="danger">
    <ion-button slot="start" fill="clear" (click)="closeChat()">
      <ion-icon style="color:white; font-size: 25px" name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
</ion-content>

<ion-footer padding>
  <ion-item>
    <ion-textarea></ion-textarea>
  <ion-button color="danger">
    <ion-icon name="send"></ion-icon>
  </ion-button>
  </ion-item>
</ion-footer>




 